@page
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h2>¡Revisa tu correo!</h2>
            <hr />
            <p class="mb-4">
                Hemos enviado un enlace de confirmación a tu dirección de correo electrónico.
                Haz clic en el enlace para activar tu cuenta.
            </p>
            <a href="/Index" class="btn btn-primary btn-lg">Ir al login</a>
        </div>
    </div>
    <div class="text-center mt-3 text-muted">
        <small>© @DateTime.Now.Year Comision Nacional De Energia</small>
    </div>
</div>