@page
@model form.Pages.ConsultaModel

<h2>Consultar información por correo</h2>

<form method="post">
    <label>Correo:</label>
    <input type="email" asp-for="CorreoBusqueda" class="form-control" type="text" peaceholder="Ingrese su correo" />
    </hr>
    <button type="submit" class="btn btn-primary mt-2">Buscar</button>
    <a asp-page="/Consulta" class="btn btn-secondary mt-2">limpiar</a>
</form>

@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <p class="mt-3"><strong>@Model.Mensaje</strong></p>
}

@if (Model.DatosFormulario.Count > 0)
{
    <h3>Información encontrada</h3>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Campo</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DatosFormulario)
            {
                <tr>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="/Index" class="btn btn-secondary ms-2">Volver al menu</a>
}