@page
@model form.Pages.ZeroSecond

@{
    ViewBag.Title = "Seleccion de fecha";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Index"><i class="icon icon-home"></i></a></li>
    <li class="breadcrumb-item"><a href="/index">Inicio</a></li>
    <li class="breadcrumb-item"><a href="/Index">Login</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/ZeroSecond">Seleccion de fecha</a></li>
</ol>
<h1>Seleccion de fecha</h1>
<hr class="red">
</hr>
<form method="post">
    <div class="form-group datepicker-group">
        <label asp-for="Input.Fecha" class="control-label" for="calendarYear">Calendario:</label>

        <!-- asp-for asegura el name correcto y el value acorde al modelo -->
        <input asp-for="Input.Fecha" class="form-control" id="calendarYear" type="text"
            value="@(Model.Input.Fecha.ToString("yyyy-MM-dd"))" />
        <span class="bootstrap-icons" aria-hidden="true"><i class="bi bi-calendar"></i></span>
    </div>

    <button type="submit" class="btn btn-primary pull-right">Enviar</button>
    <a asp-page="/Index" class="btn btn-secondary ms-2">Volver</a>
</form>

@section Scripts {
    <script>
        $gmx(document).ready(function () {
            $('#calendarYear').datepicker({
                changeYear: true,
                defaultDate: new Date() // establece la fecha actual
            });

            // También puedes forzar que se muestre directamente:
            $('#calendarYear').datepicker("setDate", new Date());
        });
    </script>
}